<p>
<strong> Your Response was: </strong>
</p>

<p>
  <strong>Student Name: </strong>
  <%= @factivity.stdName%>
</p>

<p>
  <strong>Activity: </strong>
  <%= @factivity.activity%>
</p>

<p>
  <strong>How was your workout?: </strong>
  <%=@factivity.exertion%>
</p>

<p>
<strong> Response Submitted Thank you </strong>
</p>

<%= link_to 'Back to Forms page', controller: 'forms' %>
