<font face="Bebas Neue" color=white>
<body style="background-color:#02243E;padding-top:1%;padding-left:5%;padding-right:5%">

  <font class="l" face="Bebas Neue" font-weight color=white>

    <div class="h" >
      Athletic Training Data<br>Acquisition and Analysis
    </div>

    <br>
    <a href=../athletes>
      <div  class="b">
        Athletes
      </div>
    </a>
    <br>

    <a href=../forms>
      <div  class="b">
        Forms
      </div>
    </a>
    <br>

    <a href=../data/index>
      <div  class="b">
        Data
      </div>
    </a>
    <br>
    
  </font>
</body>


