<head>
<style>
  a {
    text-decoration: none;
    font-size:100%;
    color:white;
  }

  /* mouse over link */
  a:hover {
    color: #0887E8;
  }
</style>
</head>
<body style="background-color:#02243E;padding-left:5%;padding-right:5%">

  <font face="Bebas Neue" color="1CCDE3" size=200%>
    <a>
      <%= link_to 'Home', welcome_index_path %>
      <%= link_to '/Form' %>
    </a>
  </font>
  <br><br><br>
  
  <font face="bebas neue" color=white style="font-size:190%">

    <a href=fmorning/new>
      <div  class="b">
        Morning Form
      </div>
    </a>

    <br>
  
    <a href=factivity/new>
      <div  class="b">
        Activity Form
      </div>
    </a>

  </font>

</body>

