<head>
<style>
  a {
    text-decoration: none;
    color:white;
    font-size: 100%;
  }

  /* mouse over link */
  a:hover {
    color: #0887E8;
  }

  div {
    border: 1px solid white; 
    padding: 2%;
  }

  div:hover {
    background-color: white;
    color: #02243E;
  }

  </style>
</head>

<body style="background-color:#02243E;padding-left:5%;padding-right:5%;">

  <font face="Bebas Neue" color="1CCDE3" size=200%>
    <a>
      <%= link_to 'Home', welcome_index_path %>
      <%= link_to '/Data', controller: 'data' %>
    </a>
  </font>

  <br><br><br>

  <font face="bebas neue" color=white style="font-size:180%">

  <a href=fmorning_data>
    <div class="b">
      Morning Form Data
    </div>
  </a>

  <br>
  
  <a href=factivity_data>
    <div class="b">
      Activity Form Data 
    </div>
  </a>

  </font>

</body>

