// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//@include font-face(bebasneue, fonts/bebasneue);

@font-face {
    font-family: 'bebas_neueregular';
    src: url('bebasneue-webfont.eot');
    src: url('bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('bebasneue-webfont.woff') format('woff'),
         url('bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}	

a {
  text-decoration: none;
  font-size:200%;
  color:white;

  /* mouse over link */
  &:hover {
    color: #0887E8;
  }
}

div.b {
  border: 1px solid white;
  padding: 2%;

  &:hover {
    background-color: white;
    color: #02243E;
  }

}

font.l {
 font-weight: 300;
}

div.h {
  font-size:500%;
}

